body {
    margin: 0;
    font-family: Gabarito;
    background: #241614;
}

h1 {
    color: #beba9b;
    font-size: 3.052vw;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    color: #beba9b;
    font-size: 2.441vw;
    font-weight: 600;
}

.logo {
    position: absolute;
    width: 12vw;
    height: auto;
    z-index: 2;
    margin-top: 25px;
    margin-left: 10vw;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.hero-mask {
    --mask-gradient: linear-gradient(0deg, #000 0% 0%, transparent 0% 3.33%, #000 3.33% 3.33%, transparent 3.33% 6.66%, #000 6.66% 6.666666666666666%, transparent 6.666666666666666% 10%, #000 10% 10%, transparent 10% 13.33%, #000 13.33% 13.33%, transparent 13.33% 16.66%, #000 16.66% 16.66%, transparent 16.66% 20%, #000 20% 20.000000000000004%, transparent 20.000000000000004% 23.33%, #000 23.33% 23.33%, transparent 23.33% 26.66%, #000 26.66% 26.66%, transparent 26.66% 30%, #000 30% 30%, transparent 30% 33.33%, #000 33.33% 33.33%, transparent 33.33% 36.66%, #000 36.66% 36.66%, transparent 36.66% 40%, #000 40% 40%, transparent 40% 43.33%, #000 43.33% 43.33%, transparent 43.33% 46.66%, #000 46.66% 46.66%, transparent 46.66% 50%, #000 50% 50%, transparent 50% 53.33%, #000 53.33% 53.33%, transparent 53.33% 56.66%, #000 56.66% 56.66%, transparent 56.66% 60%, #000 60% 60%, transparent 60% 63.33%, #000 63.33% 63.33%, transparent 63.33% 66.66%, #000 66.66% 66.66%, transparent 66.66% 70%, #000 70% 70%, transparent 70% 73.33%, #000 73.33% 73.33%, transparent 73.33% 76.66%, #000 76.66% 76.66%, transparent 76.66% 80%, #000 80% 80%, transparent 80% 83.33%, #000 83.33% 83.33%, transparent 83.33% 86.66%, #000 86.66% 86.66%, transparent 86.66% 90%, #000 90% 90%, transparent 90% 93.33%, #000 93.33% 93.33%, transparent 93.33% 96.66%, #000 96.66% 96.66%, transparent 96.66% 100%);
    -webkit-mask-image: var(--mask-gradient);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: var(--mask-gradient);
    mask-repeat: no-repeat;
    mask-size: cover;
    will-change: mask-image;
    background: #241614;
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero-image img {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.aboutWrapper {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 1fr 1.5fr;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    background: #241614;
    margin-top: 50px;
}

.aboutHead {
    display: block;
    position: sticky;
    top: 30%;
    bottom: 40%;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 0;
    margin-right: 100px;
}

.aboutText {
    grid-column: 2;
    grid-row: 1;
    color: #beba9b;
    width: 100%;
    font-size: 1.25vw;
    font-weight: 100;
}

.aboutImgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    width: 50vw;
    height: 30vw;
    overflow: hidden;
    position: relative;
}

.aboutImage {
    display: block;
    width: 120%;
    top: 10%;
    height: auto;
    position: relative;
    object-fit: cover;
    will-change: transform;
}

.story {
    background-color: #beba9b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    margin-top: 100px;
    height: 100vh;
}

.storyImgWrap {
    height: 100%;
    overflow: hidden;
    position: relative;
    grid-column: 1;
    grid-row: 1/3;
    background-image: url("korytarz.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.storyImage {
    height: 100%;
    position: relative;
    object-fit: cover;
    display: none;
}

.storyHead {
    grid-column: 2;
    grid-row: 1;
    color: #241614;
    height: 10%;
    margin-left: 50px;
    margin-top: 50px;
}

.storyText {
    color: #241614;
    font-size: 1.25vw;
    font-weight: 200;
    width: 80%;
    margin-left: 50px;
    grid-column: 2;
    grid-row: 2;
}