body {
    margin: 0;
    font-family: Gabarito;
    background: #201110;
}

h2 {
    color: #beba9b;
}

.logo {
    position: absolute;
    width: 350px;
    height: 250px;
    z-index: 2;
    margin-top: 25px;
    margin-left: 50px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.hero-mask {
    --mask-gradient: linear-gradient(0deg, #000 0% 0%, transparent 0% 3.33%, #000 3.33% 3.33%, transparent 3.33% 6.66%, #000 6.66% 6.666666666666666%, transparent 6.666666666666666% 10%, #000 10% 10%, transparent 10% 13.33%, #000 13.33% 13.33%, transparent 13.33% 16.66%, #000 16.66% 16.66%, transparent 16.66% 20%, #000 20% 20.000000000000004%, transparent 20.000000000000004% 23.33%, #000 23.33% 23.33%, transparent 23.33% 26.66%, #000 26.66% 26.66%, transparent 26.66% 30%, #000 30% 30%, transparent 30% 33.33%, #000 33.33% 33.33%, transparent 33.33% 36.66%, #000 36.66% 36.66%, transparent 36.66% 40%, #000 40% 40%, transparent 40% 43.33%, #000 43.33% 43.33%, transparent 43.33% 46.66%, #000 46.66% 46.66%, transparent 46.66% 50%, #000 50% 50%, transparent 50% 53.33%, #000 53.33% 53.33%, transparent 53.33% 56.66%, #000 56.66% 56.66%, transparent 56.66% 60%, #000 60% 60%, transparent 60% 63.33%, #000 63.33% 63.33%, transparent 63.33% 66.66%, #000 66.66% 66.66%, transparent 66.66% 70%, #000 70% 70%, transparent 70% 73.33%, #000 73.33% 73.33%, transparent 73.33% 76.66%, #000 76.66% 76.66%, transparent 76.66% 80%, #000 80% 80%, transparent 80% 83.33%, #000 83.33% 83.33%, transparent 83.33% 86.66%, #000 86.66% 86.66%, transparent 86.66% 90%, #000 90% 90%, transparent 90% 93.33%, #000 93.33% 93.33%, transparent 93.33% 96.66%, #000 96.66% 96.66%, transparent 96.66% 100%);
    -webkit-mask-image: var(--mask-gradient);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: var(--mask-gradient);
    mask-repeat: no-repeat;
    mask-size: cover;
    will-change: mask-image;
    background: #170e0d;
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero-image img {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content {
    height: 200vh;
    padding: 2rem;
    background: #170e0d;
}