* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    background: #241614;
    line-height: 1.75;

}

h1 {
    color: #beba9b;
    font-family: "Grenze Gotisch", serif;
    font-size: 4.5vw;
    font-weight: 400;
}

h2 {
    color: #beba9b;
    font-family: "Grenze Gotisch", serif;
    font-size: 3vw;
    font-weight: 400;
}



.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.hero {
    position: relative;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
}

.hero-mask {
    --mask-gradient: linear-gradient(0deg, #000 0% 0%, transparent 0% 3.33%, #000 3.33% 3.33%, transparent 3.33% 6.66%, #000 6.66% 6.666666666666666%, transparent 6.666666666666666% 10%, #000 10% 10%, transparent 10% 13.33%, #000 13.33% 13.33%, transparent 13.33% 16.66%, #000 16.66% 16.66%, transparent 16.66% 20%, #000 20% 20.000000000000004%, transparent 20.000000000000004% 23.33%, #000 23.33% 23.33%, transparent 23.33% 26.66%, #000 26.66% 26.66%, transparent 26.66% 30%, #000 30% 30%, transparent 30% 33.33%, #000 33.33% 33.33%, transparent 33.33% 36.66%, #000 36.66% 36.66%, transparent 36.66% 40%, #000 40% 40%, transparent 40% 43.33%, #000 43.33% 43.33%, transparent 43.33% 46.66%, #000 46.66% 46.66%, transparent 46.66% 50%, #000 50% 50%, transparent 50% 53.33%, #000 53.33% 53.33%, transparent 53.33% 56.66%, #000 56.66% 56.66%, transparent 56.66% 60%, #000 60% 60%, transparent 60% 63.33%, #000 63.33% 63.33%, transparent 63.33% 66.66%, #000 66.66% 66.66%, transparent 66.66% 70%, #000 70% 70%, transparent 70% 73.33%, #000 73.33% 73.33%, transparent 73.33% 76.66%, #000 76.66% 76.66%, transparent 76.66% 80%, #000 80% 80%, transparent 80% 83.33%, #000 83.33% 83.33%, transparent 83.33% 86.66%, #000 86.66% 86.66%, transparent 86.66% 90%, #000 90% 90%, transparent 90% 93.33%, #000 93.33% 93.33%, transparent 93.33% 96.66%, #000 96.66% 96.66%, transparent 96.66% 100%);
    -webkit-mask-image: var(--mask-gradient);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-image: var(--mask-gradient);
    mask-repeat: no-repeat;
    mask-size: cover;
    will-change: mask-image;
    background: #241614;
    position: absolute;
    inset: 0;
    z-index: 2;
}

.hero-image img {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.marqueehero {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    top: 70vh;
    background-color: rgba(182, 170, 61, 0.55);
    z-index: 3;
}

.marqueehero__inner {
    display: inline-flex;
}

.aboutImage {
    display: block;
    width: 120%;
    top: -20%;
    height: auto;
    position: relative;
    object-fit: cover;
    will-change: transform;
}


#videoContainer {
    height: 200vh;
    margin-top: 100px;
}

#video-background {
    top: 0%;
    height: 100vh;
    position: sticky;
    z-index: 4;
    overflow: hidden;
}

.doorVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 177.77777778vh;
    /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw;
    /* 100 * 9 / 16 */

}

/*
.doorVideo video {
    object-fit: cover;
}
*/


@media only screen and (max-width: 575px) and (orientation: portrait) {

    .logo {
        position: absolute;
        width: 80px;
        height: auto;
        z-index: 2;
        margin-top: 25px;
        margin-left: 10vw;
    }

    .marqueehero__inner span {
        padding: 0.1rem;
        font-size: 2rem;
        font-weight: 500;
    }

    .aboutWrapper {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        background: #241614;
        margin-top: 50px;
        margin-bottom: 200px;
        max-width: 1800px;
    }

    .aboutHead {
        display: block;
        grid-column: 1;
        grid-row: 1;
        margin-right: 2vw;
        margin-top: -30px;
    }

    .aboutHead h1 {
        font-size: 3.25rem;
        text-align: center;
        line-height: 1.1;
    }

    .aboutHead p {
        color: #beba9b;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .aboutText {
        grid-column: 1;
        grid-row: 2;
        color: #beba9b;
        width: 100%;
        font-size: 0.8rem;
        font-weight: 300;

    }

    .aboutImgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        grid-row: 3;
        width: 80vw;
        height: 45vw;
        overflow: hidden;
        position: relative;
        margin-top: 50px;
    }

    .story {
        background-color: #beba9b;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr 1fr;
    }

    .storyImgWrap {
        height: 100%;
        overflow: hidden;
        position: relative;
        grid-column: 1;
        grid-row: 3;
        background-image: url("korytarz.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    :root[style*="--is-ios: 1"] .storyImgWrap {
        height: 100%;
        overflow: hidden;
        position: relative;
        grid-column: 1;
        grid-row: 3;
        background-image: url("korytarz.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .storyImage {
        height: 100%;
        position: relative;
        object-fit: cover;
        display: none;
    }

    .storyHead {
        grid-column: 1;
        grid-row: 1;
        color: #241614;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 50px;
        text-align: center;
        line-height: 1.3;
    }

    .storyHead h2 {
        font-size: 2rem;
    }

    .storyText {
        color: #241614;
        font-size: 0.8rem;
        font-weight: 300;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        grid-column: 1;
        grid-row: 2;
        align-self: start;
        margin-bottom: 50px;
    }

    .offerWrapper {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        margin-bottom: 100px;
        height: auto;
        background: #241614;
    }

    .offerHead {
        display: block;
        align-self: start;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
    }

    .offerHead h2 {
        text-align: center;
        font-size: 2rem;
        margin-top: -35px;
        font-weight: 500;
        line-height: 1.25;
    }

    .offerHead p {
        color: #beba9b;
        margin-top: -15px;
        margin-bottom: 30px;
        text-align: left;
        font-size: 0.8rem;
        font-weight: 400;
        text-align: center;
    }

    .offerIcons {
        grid-column: 1;
        grid-row: 3;
        color: #beba9b;
        width: 100%;
        font-size: 0.6rem;
        font-weight: 200;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0;
    }

    .offerSVG {
        width: 50px;
        height: auto;
    }

    .offerIcon1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 150px;
        grid-column: 1;
        grid-row: 1;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 150px;
        grid-column: 2;
        grid-row: 1;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 150px;
        grid-column: 1;
        grid-row: 2;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 150px;
        grid-column: 2;
        grid-row: 2;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 150px;
        grid-column: 1;
        grid-row: 3;
        border-right-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 150px;
        grid-column: 2;
        grid-row: 3;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerImgWrap {
        display: flex;
        justify-content: center;
        grid-column: 1;
        grid-row: 2;
        width: 65vw;
        height: 65vw;
        overflow: hidden;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .offerImage {
        display: block;
        height: 140%;
        top: -20%;
        position: relative;
        object-fit: cover;
        will-change: transform;
    }

    #videoContainer {
        height: 100dvh;
        margin-top: 100px;
    }

    #invite {
        display: flex;
        flex-direction: column;
        z-index: 5;
        color: #241614;
        font-size: 1.2rem;
        font-weight: 500;
        /* font-family: "Grenze Gotisch", serif; */
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #beba9b;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 10%;
        opacity: 0;
    }

    .inviteLogo {
        margin-top: 70px;
        margin-bottom: 70px;
        width: 100px;
        height: auto;
        z-index: 6;

    }

    .inviteLogo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    .logo {
        position: absolute;
        width: 100px;
        height: auto;
        z-index: 2;
        margin-top: 25px;
        margin-left: 10vw;
    }

    .marqueehero__inner span {
        padding: 0.1rem;
        font-size: 2.5rem;
        font-weight: 500;
    }

    .aboutWrapper {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        background: #241614;
        margin-top: 50px;
        margin-bottom: 250px;
        max-width: 1800px;
    }

    .aboutHead {
        display: block;
        grid-column: 1;
        grid-row: 1;
        margin-right: 2vw;
        margin-top: -30px;
    }

    .aboutHead h1 {
        font-size: 5rem;
        text-align: center;
    }

    .aboutHead p {
        color: #beba9b;
        font-size: 1.5rem;
        font-weight: 200;
        text-align: center;
        margin-top: -25px;
        margin-bottom: 50px;
    }

    .aboutText {
        grid-column: 1;
        grid-row: 2;
        color: #beba9b;
        width: 100%;
        font-size: 1rem;
        font-weight: 200;

    }

    .aboutImgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        grid-row: 3;
        width: 80vw;
        height: 45vw;
        overflow: hidden;
        position: relative;
        margin-top: 50px;
    }

    .story {
        background-color: #beba9b;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr 1fr;
    }

    .storyImgWrap {
        height: 100%;
        overflow: hidden;
        position: relative;
        grid-column: 1;
        grid-row: 3;
        background-image: url("korytarz.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    :root[style*="--is-ios: 1"] .storyImgWrap {
        height: 100%;
        overflow: hidden;
        position: relative;
        grid-column: 1;
        grid-row: 3;
        background-image: url("korytarz.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .storyImage {
        height: 100%;
        position: relative;
        object-fit: cover;
        display: none;
    }

    .storyHead {
        grid-column: 1;
        grid-row: 1;
        color: #241614;
        margin-bottom: 20px;
        margin-top: 50px;
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .storyHead h2 {
        font-size: 2.5rem;
    }

    .storyText {
        color: #241614;
        font-size: 1rem;
        font-weight: 200;
        width: 80%;
        grid-column: 1;
        grid-row: 2;
        align-self: start;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .offerWrapper {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        margin-bottom: 100px;
        height: auto;
        background: #241614;
    }

    .offerHead {
        display: block;
        align-self: start;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
    }

    .offerHead h2 {
        text-align: center;
        font-size: 3em;
        margin-top: -35px;
        font-weight: 500;
        line-height: 1.25;
    }

    .offerHead p {
        color: #beba9b;
        margin-top: -15px;
        text-align: left;
        font-size: calc(12px + 4 * ((100vw - 320px) / 680));
        font-weight: 200;
        text-align: center;
    }

    .offerIcons {
        grid-column: 1;
        grid-row: 3;
        color: #beba9b;
        width: 100%;
        max-width: 500px;
        font-size: calc(12px + 4 * ((100vw - 320px) / 680));
        font-weight: 200;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .offerSVG {
        width: 100px;
        height: auto;
    }

    .offerIcon1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 1;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 1;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 2;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 2;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 3;
        border-right-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 3;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerImgWrap {
        display: flex;
        justify-content: center;
        grid-column: 1;
        grid-row: 2;
        width: 50vw;
        height: 50vw;
        overflow: hidden;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .offerImage {
        display: block;
        height: 140%;
        top: -30%;
        position: relative;
        object-fit: cover;
        will-change: transform;
    }

    #videoContainer {
        height: 100vh;
        margin-top: 100px;
    }

    #invite {
        display: flex;
        flex-direction: column;
        z-index: 5;
        color: #241614;
        font-size: min(2.5rem, 5vh);
        font-weight: 500;
        /* font-family: "Grenze Gotisch", serif; */
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #beba9b;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 10%;
        opacity: 0;
    }

    .inviteLogo {
        margin-top: 5vh;
        margin-bottom: 10vh;
        width: 200px;
        max-width: 25vh;
        height: auto;
        z-index: 6;
    }

    .inviteLogo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .logo {
        position: absolute;
        width: 130px;
        height: auto;
        z-index: 2;
        margin-top: 25px;
        margin-left: 10vw;
    }

    .marqueehero__inner span {
        padding: 0.1rem;
        font-size: 4vw;
        font-weight: 500;
    }

    .aboutWrapper {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1.5fr;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        background: #241614;
        margin-top: 50px;
        margin-bottom: 300px;
        max-width: 1800px;
    }

    .aboutHead {
        display: block;
        position: sticky;
        top: 20%;
        bottom: 0%;
        grid-column: 1;
        grid-row: 1;
        grid-row-end: 2;
        margin-right: 70px;
        margin-top: -10px;
    }

    .aboutHead h1 {
        font-size: 3.5rem;
        line-height: 1;
    }

    .aboutHead p {
        color: #beba9b;
        font-size: 1rem;
        font-weight: 200;
        margin-top: 20px;
    }

    .aboutText {
        grid-column: 2;
        grid-row: 1;
        color: #beba9b;
        width: 100%;
        font-size: 1rem;
        font-weight: 200;

    }

    .aboutImgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2;
        grid-row: 2;
        width: 50vw;
        height: 30vw;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
    }

    .story {
        background-color: #beba9b;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr 1fr;
    }

    .storyImgWrap {
        height: 100%;
        overflow: hidden;
        position: relative;
        grid-column: 1;
        grid-row: 3;
        background-image: url("korytarz.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    :root[style*="--is-ios: 1"] .storyImgWrap {
        height: 100%;
        overflow: hidden;
        position: relative;
        grid-column: 1;
        grid-row: 3;
        background-image: url("korytarz.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .storyImage {
        height: 100%;
        position: relative;
        object-fit: cover;
        display: none;
    }

    .storyHead {
        grid-column: 1;
        grid-row: 1;
        color: #241614;
        margin-bottom: 20px;
        margin-top: 50px;
        text-align: center;
    }

    .storyHead h2 {
        font-size: 3rem;
    }

    .storyText {
        color: #241614;
        font-size: 1rem;
        font-weight: 200;
        width: 80%;
        margin-left: 50px;
        grid-column: 1;
        grid-row: 2;
        align-self: start;
        margin-bottom: 100px;
    }

    .offerWrapper {
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-template-columns: auto auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        margin-bottom: 300px;
        height: auto;
        background: #241614;
        max-width: 1800px;
    }

    .offerHead {
        display: block;
        align-self: start;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
    }

    .offerHead h2 {
        text-align: left;
        font-size: 2em;
        margin-top: -15px;
        font-weight: 500;
    }

    .offerHead p {
        color: #beba9b;
        margin-top: -20px;
        text-align: left;
        font-size: calc(12px + 4 * ((100vw - 320px) / 680));
        font-weight: 200;
    }

    .offerIcons {
        grid-column: 2;
        grid-row: 1 / span 2;
        color: #beba9b;
        width: 100%;
        font-size: calc(12px + 4 * ((100vw - 320px) / 680));
        font-weight: 200;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0;
    }

    .offerSVG {
        width: 100px;
        height: auto;
    }

    .offerIcon1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 1;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 1;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 2;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 2;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 3;
        border-right-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 3;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerImgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: start;
        grid-column: 1;
        grid-row: 2;
        width: 30vw;
        height: 30vw;
        overflow: hidden;
        position: relative;
        max-width: 500px;
        max-height: 500px;
    }

    .offerImage {
        display: block;
        height: 140%;
        top: 0%;
        position: relative;
        object-fit: cover;
        will-change: transform;
    }

    #videoContainer {
        height: 200vh;
        margin-top: 100px;
    }

    #invite {
        display: flex;
        flex-direction: column;
        z-index: 5;
        color: #241614;
        font-size: min(3vw, 5vh);
        font-weight: 500;
        /* font-family: "Grenze Gotisch", serif; */
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #beba9b;
        padding-top: 5%;
        padding-bottom: 5%;
        opacity: 0;
    }

    .inviteLogo {
        margin-top: 5vh;
        margin-bottom: 10vh;
        width: 15vw;
        max-width: 25vh;
        height: auto;
        z-index: 6;

    }

    .inviteLogo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {

    .logo {
        position: absolute;
        width: 12vw;
        height: auto;
        z-index: 2;
        margin-top: 25px;
        margin-left: 10vw;
    }

    .marqueehero__inner span {
        padding: 0.1rem;
        font-size: 4vw;
        font-weight: 500;
    }

    .aboutWrapper {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1.5fr;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        background: #241614;
        margin-top: 50px;
        margin-bottom: 300px;
        max-width: 1800px;
    }

    .aboutHead {
        display: block;
        position: sticky;
        top: 20%;
        bottom: 0%;
        grid-column: 1;
        grid-row: 1;
        grid-row-end: 2;
        margin-right: 2vw;
        margin-top: -30px;
    }

    .aboutHead p {
        color: #beba9b;
        font-size: 1.25vw;
        font-weight: 200;
    }

    .aboutText {
        grid-column: 2;
        grid-row: 1;
        color: #beba9b;
        width: 100%;
        font-size: 1.25vw;
        font-weight: 200;

    }

    .aboutImgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2;
        grid-row: 2;
        width: 50vw;
        height: 30vw;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
    }

    .story {
        background-color: #beba9b;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
        height: 100vh;
        min-height: 45vw;
    }

    .storyImgWrap {
        height: 100%;
        overflow: hidden;
        position: relative;
        grid-column: 1;
        grid-row: 1/3;
        background-image: url("korytarz.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    :root[style*="--is-ios: 1"] .storyImgWrap {
        height: 100%;
        overflow: hidden;
        position: relative;
        grid-column: 1;
        grid-row: 3;
        background-image: url("korytarz.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .storyImage {
        height: 100%;
        position: relative;
        object-fit: cover;
        display: none;
    }

    .storyHead {
        grid-column: 2;
        grid-row: 1;
        color: #241614;
        margin-left: 50px;
        margin-bottom: 40px;
        align-self: end;
    }

    .storyText {
        color: #241614;
        font-size: 1.25vw;
        font-weight: 200;
        width: 80%;
        margin-left: 50px;
        grid-column: 2;
        grid-row: 2;
        align-self: start;
    }

    .offerWrapper {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        margin-bottom: 300px;
        height: auto;
        background: #241614;
        max-width: 1800px;
    }

    .offerHead {
        display: block;
        align-self: start;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
    }

    .offerHead h2 {
        text-align: left;
        font-size: 2.5em;
        margin-top: -25px;
        font-weight: 500;
    }

    .offerHead p {
        color: #beba9b;
        margin-top: -20px;
        text-align: left;
        font-size: 1em;
        font-weight: 200;
    }

    .offerIcons {
        grid-column: 2;
        grid-row: 1 / span 2;
        color: #beba9b;
        width: 100%;
        font-size: 1em;
        font-weight: 200;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0;
    }

    .offerSVG {
        width: 100px;
        height: auto;
    }

    .offerIcon1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 1;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 1;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 2;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 2;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 3;
        border-right-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 3;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerImgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: end;
        grid-column: 1;
        grid-row: 2;
        width: 30vw;
        height: 30vw;
        overflow: hidden;
        position: relative;
        max-width: 500px;
        max-height: 500px;
    }

    .offerImage {
        display: block;
        height: 140%;
        top: 0%;
        position: relative;
        object-fit: cover;
        will-change: transform;
    }

    #videoContainer {
        height: 200vh;
        margin-top: 100px;
    }

    #invite {
        display: flex;
        flex-direction: column;
        z-index: 5;
        color: #241614;
        font-size: min(3vw, 5vh);
        font-weight: 500;
        /* font-family: "Grenze Gotisch", serif; */
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #beba9b;
        padding-top: 5%;
        padding-bottom: 5%;
        opacity: 0;
    }

    .inviteLogo {
        margin-top: 50px;
        margin-bottom: 100px;
        width: 15vw;
        height: auto;
        z-index: 6;

    }

    .inviteLogo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }
}

@media only screen and (min-width: 1200px) {

    .logo {
        position: absolute;
        width: 12vw;
        height: auto;
        z-index: 2;
        margin-top: 25px;
        margin-left: 10vw;
    }

    .marqueehero__inner span {
        padding: 0.1rem;
        font-size: 4vw;
        font-weight: 500;
    }

    .aboutWrapper {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1.5fr;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        background: #241614;
        margin-top: 50px;
        margin-bottom: 300px;
        max-width: 1800px;
    }

    .aboutHead {
        display: block;
        position: sticky;
        top: 20%;
        bottom: 0%;
        grid-column: 1;
        grid-row: 1;
        grid-row-end: 2;
        margin-right: 2vw;
        margin-top: -30px;
    }

    .aboutHead p {
        color: #beba9b;
        font-size: 1.25vw;
        font-weight: 200;
    }

    .aboutText {
        grid-column: 2;
        grid-row: 1;
        color: #beba9b;
        width: 100%;
        font-size: 1.25vw;
        font-weight: 200;

    }

    .aboutImgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 2;
        grid-row: 2;
        width: 50vw;
        height: 30vw;
        overflow: hidden;
        position: relative;
        margin-top: 30px;
    }

    .story {
        background-color: #beba9b;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
        height: 100vh;
        min-height: 45vw;
    }

    .storyImgWrap {
        height: 100%;
        overflow: hidden;
        position: relative;
        grid-column: 1;
        grid-row: 1/3;
        background-image: url("korytarz.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .storyImage {
        height: 100%;
        position: relative;
        object-fit: cover;
        display: none;
    }

    .storyHead {
        grid-column: 2;
        grid-row: 1;
        color: #241614;
        margin-left: 50px;
        margin-bottom: 40px;
        align-self: end;
    }

    .storyText {
        color: #241614;
        font-size: 1.25vw;
        font-weight: 200;
        width: 80%;
        margin-left: 50px;
        grid-column: 2;
        grid-row: 2;
        align-self: start;
    }

    .offerWrapper {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        margin-bottom: 300px;
        height: auto;
        background: #241614;
        max-width: 1800px;
    }

    .offerHead {
        display: flex;
        flex-direction: column;
        align-self: start;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
    }

    .offerHead h2 {
        text-align: left;
        font-size: 4vw;
        margin-top: -35px;
        font-weight: 500;
    }

    .offerHead p {
        color: #beba9b;
        margin-top: -5%;
        text-align: left;
        font-size: 1.2vw;
        font-weight: 200;
    }

    .offerIcons {
        grid-column: 2;
        grid-row: 1 / span 2;
        color: #beba9b;
        width: 100%;
        font-size: 1em;
        font-weight: 200;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0;
    }

    .offerSVG {
        width: 100px;
        height: auto;
    }

    .offerIcon1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 1;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 1;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 2;
        border-right-style: solid;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 2;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 1;
        grid-row: 3;
        border-right-style: solid;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerIcon6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 200px;
        grid-column: 2;
        grid-row: 3;
        border-width: 1px;
        border-color: #beba9b;
    }

    .offerImgWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: end;
        grid-column: 1;
        grid-row: 2;
        width: 30vw;
        height: 30vw;
        overflow: hidden;
        position: relative;
        max-width: 450px;
        max-height: 450px;
    }

    .offerImage {
        display: block;
        height: 140%;
        top: 0%;
        position: relative;
        object-fit: cover;
        will-change: transform;
    }

    #videoContainer {
        height: 200vh;
        margin-top: 100px;
    }

    #invite {
        display: flex;
        flex-direction: column;
        z-index: 5;
        color: #241614;
        font-size: min(3vw, 5vh);

        font-weight: 500;
        /* font-family: "Grenze Gotisch", serif; */
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #beba9b;
        padding-top: 5%;
        padding-bottom: 5%;
        opacity: 0;
    }

    .inviteLogo {
        margin-top: 50px;
        margin-bottom: 100px;
        width: 15vw;
        max-width: 25vh;
        height: auto;
        z-index: 6;

    }

    .inviteLogo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

}